<% provide(:title, 'About') %>



<div class ="row-fluid">

  <div class="span11 offset1">
        
    <div class="span11 eventShowTitle"><h2>A short introduction to Eventus</h2></div>
    <br>
    <div class="span5" >
      <div class="span11 ui-widget-content aboutItems">
	<div style="text-align: center">
	<h3>Idea</h3>
	</div>
	<div class = "span8 offset2" style="margin-left: auto; margin-right:auto ">
	  <%=image_tag("eventus.png", :size =>"300x200") %>
	</div>
	<div class="span11">
	  <br>
	  <p>We believe in a simple idea that people with common interest should get to know each other
	  and share the fun, the thoughts and the skills each of them
	  has. We created this page where people are albe to create, search for and 
	  join public events, so that users can meet each other on off-line, realizing this idea.</p>
	</div>
      </div>
         <div class="span12"></div> 
      <div class="span11 ui-widget-content aboutItems" style="float:left">
	<div  style="text-align: center"><h3>Thanks to:</h3></div>
	<div class="span11">
	<h4>MIT 6.470 Course Staff!</h4>
	<p>This website takes part in the MIT 2013 6.470 Web Programming Competition. The development of this 
	website is not possible without the great help from MIT 6.470 course staff, so a BIG THANKS to them! </p>
	</div>
      </div>
    </div>
      
  
      
    <div class="span5">
      <div class="span11 ui-widget-content aboutItems">
	<div style="text-align: center">
	<h3>Functionalities:</h3>
	  </div>
	<div class="span11">
	<p>We created some functionalities to give you
	easy ways of creating or finding events.
	<ul>
	  <li>You can create, edit or delete an event (oh yes of course you can!).</li>
	  <li>Use the Google Maps to easily set the address of your event. </li>
	  <li>You can "like" other users and vote (+1 or -1) for an event.</li>
	  <li>When you search for an event, the search results will be ordered according to the number of votes.</li>
	  <li>Users can leave comments to the host on the event page.</li>
	  <li>After attending an event, attendees can rate the the host.</li>
	  <li>If you would like to go to an event, you can add the event to your Google Calendar on just one lick!</li>
	  <li>You will get a real time notification if anyone has like you or your event.</li>   
	
	</ul>
	</p>
	</div>
      </div>

             <div class="span12"></div> 
      
      <div class="span11 ui-widget-content aboutItems">
	<div style="text-align: center"><h3>Authors</h3></div>
	<div class="span11">
	<p>Three students in the group XDL are:</p>
	<ul>
	  <li>Chongyuan Xiang</li>
	  <li>Xinyue Deng</li>
	  <li>Kevin Wenliang Li</li>      
	</ul>
      </div>
      </div>   
    
    </div>
  </div>

</div>
