<% provide(:title, 'Home') %>
<div class="row-fluid">
  <div class="span10 offset1 home" id="page">
    <div class="span12 eventus">
      <h1 class="word" style="color: #d44413">Want to know what's going on in the city?</h1>
    </div>
  </div>
</div>

