$("#attend_form").html("<%= escape_javascript(render('events/attend')) %>")
$("#attenders").html("<%=@event.participants.count%>")
$("#user-<%= current_user.id%>").remove()
var x = <%=@event.participants.count%>;
if(x==0){
    $(".attend").html("<p class='eventcontent'>Nobody is attending this event.</p>");
}