<% provide(:title, 'Search Results') %>
<div class="row-fluid">
<div class="span8 offset2">
  <div class="head">
    <div>
    <h2>Search results</h2>
    <a style="float:right"><i class="icon-refresh"></i></a>
    </div>
    
  </div>
  <div id="events" >
    <ul class='media-list' id="sortable">
      <%= render @events %>
    </ul>
    <div><%=image_tag "loading.gif", :class => 'loading none'%></div>
  </div>
<%= will_paginate @events %>
</div>
</div>


  

