<% provide(:title, 'Search Results') %>
<div class="row-fluid">
<div class="span8 offset1">
  <div class="head">
    <div>
    <h2>Search results<i style="float:right" class="icon-refresh"></i></h2>
    </div>
    
  </div>
  <div id="events" >
    <ul class='media-list'>
      <%= render @events %>
    </ul>
  </div>
<%= will_paginate @events %>


<% @goodpeople.each do |user| %>
<%= user.likers.count %>
<%= user.image %>

<%end%>
</div>
</div>


  

