<% provide(:title, 'Search Results') %>
<h1>Search results</h1>

        <div>
        <a class="btn"><i class="icon-arrow-up"></i></a>
        <p>Vote:</p>
        <a class="btn"><i class="icon-arrow-down"></i></a><br>
        <input type="button" class="btn btn-primary attend" value="Attend this Event!">
        </div>
        
        <ul class="media-list">
              <li><div class="pull-left">
                <%= image_tag("default_avatar.png",:class=>'media-object', :data=>{:src=>'holder.js/64*64'})%> 
                </div>
                <div class="media-body">
                <a class="media-heading" href="#">Event name</a>
                <p>Time&nbsp&nbspPlace</p>
                <p>Event's description</p>
                </div>
              </li>
              <hr>
            </ul>
<% @events.each do |event| %>
  <%= render event %>
<% end %>