$color: #d44413;
body{
    min-width:960px;
}
.navbar .brand{
    padding:0px 20px;
}
.brand img{
    height: 30px;
    width: 100px;
    margin-bottom: 0px;
}
.btn-group{
    float: left;
    width:150px;
}
.navbar .nav{
    left: 20px;
}
.searchbar{
    padding-top: 10px;
    .search{
        padding: 20px;
        text-align: center;
        background-color:rgb(245,245,245);
        .form-inline{
            margin: 0px;
        }
    }
}

.footer{
    text-align: center;
    position: relative;
    p,a{display:inline;}
}
.signup{
    h1{
        text-align: center;
    }
    form{
        input{
            width: 100%;
        }
        .btn{
            width: auto;
        }
        #error_explanation {
            color: #f00;
            ul {
            list-style: none;
            margin: 0 0 18px 0;
            }
        }
        .field_with_errors {
            @extend .control-group;
            @extend .error;
        }
    }
}
.modal-body{
    
}

