// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


h1{
	font-size : 30px;
}

.eachItem{

	font-size:16px;
	font-weight:bold;
	
}

.left{

	float: left;
	width: 40%;
	border-right: 1px solid #ccc

}

.right{

	float: right;

}

h5{
	color: #D44413;
	margin-left: 0px;

}

#map_canvas{
	position: absolute;
	float: right;
	//overflow: auto;
	margin-top: 0px;

	height: 35%;
	min-width: 100px;

}


