// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


h1{
	font-size : 30px;
	color:#d44421
}

.eachItem{

	font-size:16px;
	font-weight:bold;
	color: #d44421;
	
}

.left{
    margin-left: 0px !important;
}
.setupright{
        min-height: 702px !important;
        border-left: 2px solid #ffffff;
	padding-left:2%;
	min-width: 150px;
	margin-left: 4%;	

}

h5{
	color: #D44413;
	margin-left: 0px;

}
.category{
    display: inline;
}

#map_canvas{
	float: left;
	margin-top: 0px;
        height: 240px;
        width: 100%;
}


.resultsHidden{
    visibility:hidden;
}

.vote{
    text-align: center;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px!important;
}
.vote p{
    margin-top:5px;
    margin-bottom: 5px;
}
.vote input{
    position: relative;
    top: 5px;
}
.media-body p{
    display: inline;
    margin: 0px;
    word-wrap: break-word;
}
.head{
    position: relative;
    background:-webkit-linear-gradient(top, #d44413 0%, #ff670f 100%);
    border: #d3d3d3;
    padding: 0px 20px;
    -webkit-border-radius: 10px;
    h2{
        width: 300px;
    }
    img{
        position: absolute;
        right: 5%;
        top:4px;
    }
}

.closeIcon{
    visibility:hidden;
}



#returnAddress{
	width: 100px;
	color: #d44421;
	font-size:16px;
}

.madeUpButton:hover{
      cursor:pointer;

}


.eventListDiv{
    height: 150px;
    position: relative;
    border-radius: 30px;
    background: -webkit-linear-gradient(top, #FCF7CC 0%, #f1da36 69%, #EFE392 100%);
    .vote{
        margin-top: 22px;
    }
    .image{
        margin-top: 22px;
    }
    .closeIcon{
        position:absolute;
        left: 93%;
        top: 5px;
    }
}

.eventListDiv:hover{
  background: -webkit-linear-gradient(top, #FFBB68 0%, #FF9900 56%, #FFBB68 100%);
  box-shadow:10px 10px 5px #888888;
  border: 2px solid #d44412;
}

a:hover{
      cursor:pointer;
}

.eventcontent{
    padding:0px 20px 10px 20px;
}
.eventprofile{
    margin-bottom: 10px;
    padding-top: 5px;
    .media a{
        font-size: 14px;
        font-weight: normal;
        
    }
    .iconbutton{
            margin:0px 10px;
        }
    h4{
        margin-left:10px;
    }
    p{
        word-wrap: break-word;
    }
    .attendlist{
        li:first-child{
            margin-left: 10px;
        }
        .thumbnail{
            text-align: center;
        }
    }
}
.eventcontent{
    padding:0px 20px 10px 20px;
}
.more{
    font-size: 14px;
    font-weight: normal;
    margin-right: 20px;
    float: right;
}
.none{
	display:none;
}
.commentlist{
    list-style: none;
    .commentbody{
        margin-left: 50px;
        width: 70%;
    }
    .reply{
        position: relative;
        left: 90%;
    }
}
#comment_body{
    width: 60%;
    height: 100px;
}
.bigicon{
    width: 30px;
    height: 30px;
}
.image{
    img{
        width: 120px;
        height: auto;
        margin-right: 10px;
    }
}

.imageProfile{
    img{
        width: 300px;
        height: auto;
        margin-right: 10px;
    }
}

.media-body{
    padding-left: 0px !important;
    margin-top: 5px;
}
.votenumber{
    font-size: 30px;
}
.writecomment{
    cursor: pointer;
}
.map{
    background-color: #F2EDD0;
    -webkit-border-radius:20px;
    padding: 5px 0px;
    h4{
        margin: 3px 10px;
    }
    .madeUpButton{
        margin-left: 5px;
    }
}

.popularhost{
    position: fixed;
    top: 150px;
    left: 73%;
    .username{
        color: #1533ad;
        font-family: 'Kavoon', cursive;
        font-size: 18px;
    }
}


.eventShowItems{
  border-radius: 20px;
  margin:5px;
}
.eventShowTitle{
  text-align:center;
  margin-left: auto;
  margin-right:auto;
  border-radius:10px;
}

.setupleft div{

  margin-left: 0 !important;


}
