// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit{
    text-align: right;
}
.media-body{
    padding-left:20px;
    a{
        font-size: large;
        font-weight: bold;
    }
}