// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit{
    text-align: right;
}
.media-body{
    padding-left:20px;
    a{
        font-size: large;
        font-weight: bold;
    }
}
.dialog{padding-left: 10px; border:4px solid #d44413; position:relative;
    p{
        margin: 0;
    }
}
.dialog span{width:0; height:0; font-size:0; overflow:hidden; position:absolute;}
.dialog span.bot{
    border-width:8px; 
    border-style:solid dashed dashed; 
    border-color:#d44413 transparent transparent; 
    left:40px; 
    bottom:-20px;
}
.dialog span.top{
    border-width: 8px; 
    border-style:solid dashed dashed; 
    border-color:#ffffff transparent transparent; 
    left:40px; 
    bottom:-16px;
}
.picture{
    margin-top: 10px;
}
