// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tab-content{
    margin-left: 0px;
    padding-left: 20px;
    border-left: solid;
    border-left-width: 2px;
    border-left-color: white;
    min-height: 500px !important;
}
.edit{
    text-align: right;
}
.media-body{
    padding-left:20px;
    a{
        font-size: large;
        font-weight: bold;
    }
}

.picture{
    margin-top: 10px;
    img{
        width: 80px;
        height: 60px;
    }
}
.profile .form-inline label{
    width: 100px;
}
.likelist .attend{
    min-height: 200px;
        li:first-child{
            margin-left: 10px !important;
        }
        .thumbnail{
            text-align: center;
            height: 160px;
            a{
                font-size: 10px;
            }
        }
    }
/*nav-pills*/
.sidenav{
    .nav-pills{
        h4{
            margin-left: 5px;
        }
    }
}
.likehost {
    position: absolute;
    left: 60%;
    top: 134px;
    -webkit-border-radius: 10px;
    background-color: #d44413;
    width: 200px;
    padding: 5px 10px;
    a{
        color: #ffffff;
    }
    .hostlist{
        height: 200px;
        overflow-y: scroll;
        width: 200px;
    }
}


.tabTitle{
  font-size : 20px;
  color: #d41342 !important;
}


.navRegion{
  //font-weight: bold;
  background-color: #eedb00;
  border-radius : 10px;

}
#userContent{
  border: d44413, solid, 2px;

}
